@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Inter:wght@400;900&family=Lato:ital,wght@1,300;1,400&family=Merriweather:ital,wght@1,300&family=Open+Sans:wght@400;600;700&family=Oswald:wght@300;400&family=Playfair+Display:ital,wght@1,500&family=Roboto+Mono:ital,wght@1,300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Inter:wght@400;900&family=Lato:ital,wght@1,300;1,400&family=Merriweather:ital,wght@1,300&family=Open+Sans:wght@400;600;700&family=Oswald:wght@300;400&family=Playfair+Display:ital,wght@1,500&family=Raleway&family=Roboto+Mono:ital,wght@1,300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans','Raleway';


}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
    
}

.count {
 max-width: 1200px;
 margin: 0 auto;

}
.column{
    display: flex;
    
}

.tabs__{
    display: flex;
    

   
}
.count__left__right{
    display: flex;
    border: 1px solid #aaa4a438;
}
.text{
    padding: 55px 35px 50px 100px;
}
h3{
    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: left;

}
.big__text{
    margin-top: 57px;
    
}
.little__text{
    margin-top: 26px;
    
}
p {
    color: rgb(0, 0, 0);
font-family: 'Raleway';
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
}

.box {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 136%;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    padding: 10px 82px;
    width: 203px;
    height: 40px;
    cursor: pointer;
  
  
}
.box--active{
    
    background-color: #FFFFFF;
    border: 1px solid;
    border: 1px solid #aaa4a438;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    padding: 8px 16px 8px 16px;
    
   
    
}
.border__botton{
width: 203px;
height: 1px;
background-color: #FFFFFF;
margin-left: -17px;
margin-top: 12px;
}

button {
   
   
}

.btn {

    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 139%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    border: 1px solid #aaa4a438;
    position: absolute;
    max-width: 270px;
    text-align: center;
    padding: 13px 50px;
    background: #EC7979;
    cursor: pointer;
    border-color: aliceblue;
    margin-top: 84px;
    cursor: pointer;
}
.btn--active{
  margin-top: 85px;
  margin-right: 1px;
  
}
.image{
    width: 470px;
height: 500px;
}
.picture{
overflow: hidden;
height: 100%;
}
.title{
    color: rgb(0, 0, 0);
font-family: Raleway;
font-size: 36px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-top: 82px;
}
.sep{
    border: 1px solid rgb(236, 121, 121);
    width: 170px;
height: 0;
}
.lou{
    color: rgb(134, 135, 139);
font-family: Raleway;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: center;

}
.block__price{
padding: 307px 30px 83px 170;
}
.div1{
    width: 370px;
height: 60px;
}
.div2{
    width: 369px;
height: 100px;
}
.div3{
    width: 370px;
height: 50px;
}
.div4{
    width: 370px;
height: 50px;
}