@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Inter:wght@400;900&family=Lato:ital,wght@1,300;1,400&family=Merriweather:ital,wght@1,300&family=Open+Sans:wght@400;600;700&family=Oswald:wght@300;400&family=Playfair+Display:ital,wght@1,500&family=Roboto+Mono:ital,wght@1,300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Inter:wght@400;900&family=Lato:ital,wght@1,300;1,400&family=Merriweather:ital,wght@1,300&family=Open+Sans:wght@400;600;700&family=Oswald:wght@300;400&family=Playfair+Display:ital,wght@1,500&family=Raleway&family=Roboto+Mono:ital,wght@1,300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', 'Raleway';
    list-style-type: none;


}

.price__section {
    background: rgb(245, 245, 245);
}

.main {
    background-color: #333333;


}

.count {
    max-width: 1200px;
    margin: 0 auto;



}

.column {
    display: flex;

}

.tabs__ {
    display: flex;



}

.count__left__right {
    display: flex;
    border: 1px solid #aaa4a438;
}

.text {
    padding: 55px 35px 50px 100px;
}

h3 {
    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: left;

}

.big__text {
    margin-top: 57px;

}

.little__text {
    margin-top: 26px;

}

p {
    color: rgb(0, 0, 0);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.box {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 136%;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    padding: 10px 82px;
    width: 203px;
    height: 40px;
    cursor: pointer;


}

.box--active {

    background-color: #FFFFFF;
    border: 1px solid;
    border: 1px solid #aaa4a438;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    padding: 8px 16px 8px 16px;



}

.border__botton {
    width: 203px;
    height: 1px;
    background-color: #FFFFFF;
    margin-left: -17px;
    margin-top: 12px;
}

button {
    bottom: none;


}

.btn {

    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 139%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    border: 1px solid #aaa4a438;
    position: absolute;
    max-width: 270px;
    text-align: center;
    padding: 13px 50px;
    background: #EC7979;
    cursor: pointer;
    border-color: aliceblue;
    margin-top: 84px;
    cursor: pointer;
    border: none;
}

.btn--active {
    margin-top: 85px;
    margin-right: 1px;


}

.image {
    width: 470px;
    height: 500px;
}

img {
    width: 430px;
    height: 500px;
}

.picture {
    overflow: hidden;
    height: 100%;
}

.head__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.title {

    color: rgb(0, 0, 0);
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 82px;

}

.sep {
    margin-top: -15px;
    border: 1px solid rgb(236, 121, 121);
    width: 170px;
    height: 0;

}

.lou {
    color: rgb(134, 135, 139);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;


}

.pricing__block {
    margin-top: 64px;
    display: flex;
    gap: 30px;

    padding-bottom: 97px;
}

.block__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;
    height: 510px;
}

.div1 {
    display: flex;
    width: 334px;
    height: 60px;
    background-color: #3f3d3d;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
}

.div2 {
    display: flex;
    background-color: #3f3d3d;
    width: 334px;
    height: 100px;
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0%;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    border-left: none;
    border-right: none;

}

.div3 {
    display: flex;
    width: 334px;
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    align-items: center;
    justify-content: center;
    background-color: #3f3d3d;

}

.div4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 334px;
    height: 50px;
    color: rgb(134, 135, 139);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    background-color: white;
}

.block__price--active {
    margin-top: -25px;
}

.card__customers {
    display: flex;
    justify-content: space-between;
    padding-top: 83px;
}

.card {
    display: flex;
    width: 370px;
    position: relative;
    flex-direction: column;
}

.name__person {

    padding-top: 68px;
    display: flex;
    text-align: left;
    justify-content: center;



}

.text__of__card {
    border-radius: 10px;
    background: rgb(226, 226, 226);
    padding: 38px 25px 37px 25px;

}

.vector {
    position: absolute;
    width: 30px;
    height: 20px;

    background: rgb(226, 226, 226);
    transform: rotate(180.00deg);
}

.crd__text {
    color: rgb(134, 135, 139);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}

.photo__avatar {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 240px;

}

.peson__names {
    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;


}

.photo__of__card {
    width: 70px;
    height: 70px;
}

.text__of__card ::after {
    position: absolute;
    content: '';
    border: 20px solid transparent;
    border-top: 20px solid rgb(226, 226, 226);
    top: 58%;
    left: 20%;
}

.profession {
    display: flex;
    justify-content: center;
    padding-right: 56px;
    margin-top: -60px;
}

.Dav {
    margin-left: 100px;
}

.Jay {
    margin-left: 40px;
}

.Coop {
    margin-left: 55px;
}


.title__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
    padding: 28px 112px;


}

.list li {
    width: 114px;

}

.logo {
    display: flex;
    gap: 2.81px;
    align-items: center;
    padding-left: 50px;

}

.axit {
    position: relative;
    background-image: url(../img/image.png);
    display: flex;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-position: center;
    background-size: contain;
    background-size: cover;

}

.axit::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #33333381;
    position: absolute;
    content: "";
    z-index: 1;

}

.header {
    position: fixed;
    display: flex;
    background: rgb(0, 0, 0);
    justify-content: space-between;
    z-index: 3;
    width: 100%;
    left: 0;
    z-index: 5;
}

.axit__head {
    position: relative;
    display: flex;
    width: 1200px;
    padding: 306px 0px 185px 0px;
    justify-content: space-between;

    z-index: 4;
}

.AX img {
    width: 102px;
    height: 55px;

}

.left__part {
    display: flex;
    flex-direction: column;



}

.title__axit h2 {
    padding-top: 72px;
    width: 670px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.sep__axit {
    margin-top: 54px;
    width: 170px;
    height: 0;
    border: 1px solid rgb(255, 255, 255);
}

.text__axit p {
    width: 270px;
    height: 42px;
    margin-top: 42.5px;
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;

}

.btn__axis__wan {
    width: 270px;
    height: 58px;
    background: none;
    margin-top: 42px;
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    cursor: pointer;


}

.right__part {
    display: flex;
    width: 470px;
    height: 450px;
    background: rgb(255, 255, 255);
    flex-direction: column;


}

.title__part h2 {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    width: 470px;
    height: 24px;
    display: flex;
    padding: 36px 50px 75px 53px;
    justify-content: center;
}

.name__column {
    display: flex;
    width: 470px;
    height: 450px;
    flex-direction: column;
    gap: 31px;
}

.name__part p {
    display: flex;
    flex-direction: column;
    display: flex;
    color: rgb(189, 189, 189);
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;

}

.axit__form {
    padding-left: 50px;
}

.sepr {

    border: 1px solid rgb(189, 189, 189);
    width: 370px;
    height: 0;
    align-items: center;
    margin-top: 34.5px;
    margin-left: 50px;



}

.btn__axis p {

    width: 468.94px;
    height: 60px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    background-color: #EC7979;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
}

.color-red {
    color: red;
    letter-spacing: normal;
}

span {
    white-space: normal;
}

.social_media {
    margin-bottom: 100px;
    background: rgb(248, 239, 239);

}

.social__svg {
    width: 70px;
    height: 70px;
    cursor: pointer;

}

.social__svg:hover {
    width: 100px;
    height: 100px;
    transition: 0.5s;
}

.social__icons {
    display: flex;
    gap: 44px;
    align-items: center;
    padding: 43px;

}

.social__cont {
    display: flex;
    justify-content: space-between;
    height: 140px;
}

.social__title {
    padding: 32px 30px 16px 0px;
}

.social__text p {
    width: 470px;
    height: 42px;
    margin-bottom: 16px;

    color: rgb(134, 135, 139);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.stilish__count__text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 170px;
    z-index: 6;
}

.title__stilish {
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

}

.sep__stilish {
    margin-bottom: 41px;
    border: 1px solid rgb(255, 255, 255);

}

.lou__stilish {
    margin-bottom: 80px;
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;

}

.btn__stilish {
    display: flex;
    width: 370px;
    height: 58px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    text-align: center;
    background: none;
    vertical-align: middle;
    display: table-cell;
    color: #FFFFFF;
    border: 1px solid white;
    cursor: pointer;


}

.stilish {
    position: relative;
    background-image: url(../img/banner.png);
    display: flex;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-position: center;
    background-size: contain;
    background-size: cover;
    margin-top: 107px;
}

.stylish::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #33333381;
    position: absolute;
    content: "";
    z-index: 1;

}

.stilish::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #33333381;
    position: absolute;
    content: "";
    z-index: 1;


}

.footer {
    background-color:
        rgb(0, 0, 0);
}

.footer__icon {
    display: flex;
    gap: 33px;
    justify-content: center;
    align-items: center;
    padding: 39px 480px 32px 485px;

}

.footer__ground__content {
    display: flex;
    padding-bottom: 27px;
    justify-content: center;

}

img[alt="img__footer"] {
    width: 53px;
    height: 53px;
    cursor: pointer;


}

img[alt="img__footer"]:hover {
    text-decoration: none;
    color: #fff;
    background: #14338a;
    transition: 0.3s;

}

.footer__text {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;

}